.ant-layout{
  margin-left: auto;
  margin-right: auto;
}
.main__content {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-gap: 30px;
}
.main__spiner {
  margin-top: 50px;
}
@media (max-width: 1400px){
  .main__content {
    display: flex;
    flex-direction: column;
  }
}